/* body
{
    font-family:"Segoe UI", Helvetica ;
    background:url("../Image/gamebaltogl1.jpg");
    font-size: large
}
input
{
    font-size: large;
}
#GodKnowsITry
{
   height: 400px;
   width: 550px;
   background:url("../Image/kvadrat2.jpg");
   margin: 0 auto;
}
h1
{
    color: #474a51;
    font-style: italic;
}
img
{
    height: 400 px;
    width: auto;
}
#Jesus
{
    width: 600px;
    height: 200px;
}
a
{
   color: #ffa000;
   text-decoration: none;
}
*/
button
{
font-family: "Segoe UI", sans-serif;
font-size: 14px;
color: #fff;
padding: 10px 20px;
border: 2px solid #000;
cursor: pointer;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
background:-webkit-linear-gradient(top, #a3a3a3, #000);
background:-moz-linear-gradient(top, #a3a3a3, #000);
background: linear-gradient(top, #a3a3a3, #000);
-webkit-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
-moz-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}
button:hover
{
background: -webkit-linear-gradient(top, #acc7a3, #506651);
background: -moz-linear-gradient(top, #acc7a3, #506651);
background: linear-gradient(top, #acc7a3, #506651);
}
button:active
{
background: -webkit-linear-gradient(top, #858565, #c5c9a9);
background: -moz-linear-gradient(top, #858565, #c5c9a9);
background: linear-gradient(top, #858565, #c5c9a9);
}
#stage
{
width: 450px;
height: 450px;
position: relative;
}
#background
{
width: 450px;
height: 450px;
position: absolute;
top: 0;
left: 400;
background-image: url(../Image/fonigri.jpg);
}
#cannon
{
width: 50px;
height: 50px;
position: absolute;
top: 405px;
left: 610px;
background-image: url(../Image/Finashka_baza.jpg);
-webkit-transition: left 0.3s ease-out 0s;
transition: left 0.3s ease-out 0s;
}
#alien
{
width: 50px;
height: 50px;
position: absolute;
top: 30px;
left: 520px;
background-image: url(../Image/prishelec.png);
-webkit-transition: left 0.2s ease-out 0s;
transition: left 0.2s ease-out 0s;
-webkit-transition: top 0.2s ease-out 0s;
transition: top 0.2s ease-out 0s;
}
#missile
{
width: 20px;
height: 20px;
position: absolute;
top: 360px;
left: 618px;
background-image: url(../Image/bitC.png);
-webkit-transition: top 0.2s ease-out 0.3s;
transition: top 0.2s ease-out 0.3s;
}
#boom
{
   display: none;
}
