body
{
    font-family:"Segoe UI", Helvetica ;
    text-align: left;
    background:url("../Image/gamebaltogl1.jpg");
}
#GodKnowsITry
{
   height: 800px;
   background-color: #fff;
   width: 800px;
   margin: 0 auto;
   border-radius: 30px 100px 0 20px;
   padding-left: 50px;
}
h1
{
    color: #474a51;
    font-style: italic;
}
img
{
    height: 400px;
    width: auto;
}
#GodHelpMe
{
    width: 400px;
    height: 50px;
    margin: 0 auto;
}
a
{
   color: #ffa000;
   text-decoration: none;
}
button
{
font-family: "Segoe UI", sans-serif;
font-size: 14px;
color: #fff;
padding: 10px 20px;
border: 2px solid #000;
cursor: pointer;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
background:-webkit-linear-gradient(top, #a3a3a3, #000);
background:-moz-linear-gradient(top, #a3a3a3, #000);
background: linear-gradient(top, #a3a3a3, #000);
-webkit-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
-moz-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}
button:hover
{
background: -webkit-linear-gradient(top, #acc7a3, #506651);
background: -moz-linear-gradient(top, #acc7a3, #506651);
background: linear-gradient(top, #acc7a3, #506651);
}
button:active
{
background: -webkit-linear-gradient(top, #858565, #c5c9a9);
background: -moz-linear-gradient(top, #858565, #c5c9a9);
background: linear-gradient(top, #858565, #c5c9a9);
}
#stage
{
width: 300px;
height: 33px;
position: relative;
}
#scale
{
width: 300px;
height: 33px;
position: absolute;
top: 0px;
left: 0px;
background-image: url(../Images/scale.png);
}
#arrow
{
width: 17px;
height: 22px;
position: absolute;
top: 0px;
left: 0px;
background-image: url(../Images/arrow.png);
-webkit-transition: left 0.5s ease-out 0s;
-moz-transition: left 0.5s ease-out 0s;
transition: left 0.5s ease-out 0s;
}
