body
{
    font-family:"Segoe UI", Helvetica ;
    text-align: left;
    background:url("../Image/baltogl фон 2.jpg");
}
#GodKnowsITry
{
   height: 100%;
   background-color: #fff;
   width: 800px;
   margin: 0 auto;
   border-radius: 30px 100px 0 20px;
   padding-left: 50px;
}
h1
{
    color: #474a51;
    font-style: italic;
}
img
{
    height: 400px;
    width: auto;
}
#GodHelpMe
{
    width: 400px;
    height: 50px;
    margin: 0 px;
}
